@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe4a9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myButton {
  @apply px-4 py-2 transition-colors inline-flex gap-2 items-center font-bold bg-amber-700 hover:bg-amber-600 text-white self-end;
}

.beyazKutu {
  @apply bg-white shadow-md w-full;
}

h1 {
  font-family: "Alex Brush", cursive;
  @apply text-3xl text-amber-600;
}

nav {
  font-weight: 500;
}
